#parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: space-evenly;
    height: 87vh;
}

.outer {
    height: 75%;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px;
    margin-top: 50px;
    background-color: navajowhite;
}

.outer h1 {
    text-align: center;
    font-family: "Slackside One", cursive;
    color: rgb(5, 5, 116);
    font-size: 2rem;
}

.inner {
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-size: 1.3rem;
    color: rgb(5, 5, 116);
}

.inner h2 {
    font-size: 1.5rem;
}

.inner ul {
    list-style: none;
}

@media screen and (max-width: 600px) {
    #parent {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0;
        grid-row-gap: 20px;
        justify-content: center;
        height: auto;
    }

    .outer {
        height: auto;
        margin-top: 20px;
    }
}



