#parent {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 50vh;
    grid-column-gap: 16px;
    grid-row-gap: 0;
    grid-auto-flow: row;
    direction: ltr;
    height: 100vh;
    margin-top: 175px;
}

.outer {
    height: 75%;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px;
    margin-top: 50px;
    background-color: navajowhite;
}

.outer h1 {
    text-align: center;
    font-family: "Slackside One", cursive;
    color: rgb(5, 5, 116);
}

.inner {
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-size: 1.3rem;
    color: rgb(5, 5, 116);
}

.inner ul {
    list-style: none;
}