/* Common styles for .title and .nadpis */    
.title {
    justify-content: center;
    display: flex;
    text-align: center;
}

.nadpis {
    font-family: 'Slackside One', cursive;
    border-radius: 20px;
    margin-top: 35px;
    font-size: 2rem;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(209,205,168,0.4416141456582633) 0%, rgba(209,205,168,1) 100%);   
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.nadpis h1 {
    text-shadow: 1px 10px 4px #f0f0f0;
    color: rgb(5,5,116);
}

/* Responsive layout for .parent */
#parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px; 
    justify-content: space-evenly;
    height: 30vh;
}

.outer {
    height: 100%;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    background-color: navajowhite;
}

.outer h1 {
    text-align: center;
    font-family: "Slackside One", cursive;
    color: rgb(5, 5, 116);
    font-size: 2rem;
}

.inner {
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-size: 1.7rem;
    color: rgb(5, 5, 116);
}

.inner ul {
    list-style: none;
}

/* Responsive styles for .coaches */
.coaches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    place-items: center;
    margin-top: -35px;
}

/* Responsive styles for .our-coaches */
.our-coaches {
    font-family: "Madimi One", sans-serif;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(209,205,168,0.4416141456582633) 0%, rgba(209,205,168,1) 100%);
    border-radius: 10px;
    font-size: 2.5rem;
    color: rgb(5, 5, 116);
    text-shadow: 1px 10px 4px #f0f0f0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

/* Responsive styles for .coach-choki and .coach-bara */
.coach-choki, .coach-bara {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    align-self: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
}


/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    /* Adjust grid columns for .parent */
    #parent {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0;
        grid-row-gap: 20px;
        justify-content: center;
        height: auto;
        width: auto;
    }

    .outer {
        height: auto;
        margin-top: 20px;
    }

    .coaches {
        grid-template-columns: 1fr;
    }

    .our-coaches {
        margin-top: 35px;
    }

    .coach-choki, .coach-bara {
        width: 200px;
        height: 200px;
        margin-top: 55px;
    }
}